<main class="container">
  <h1>Explore your journey around the world.</h1>

  <section data-controller="upload" data-upload-url="<%= rails_direct_uploads_path %>">
    <template data-target="upload.template">
      <div class="drop-zone__item">
        <img class="drop-zone__item__image" src="IMAGE_URL">
        <%= inline_svg "@fortawesome/fontawesome-free/svgs/solid/spinner.svg", class: "drop-zone__item__icon drop-zone__item__state--downloading" %>
        <%= inline_svg "@fortawesome/fontawesome-free/svgs/solid/check-double.svg", class: "drop-zone__item__icon drop-zone__item__state--downloaded" %>
      </div>
    </template>

    <%= tag.div class: "drop-zone", id: "drop-zone", data: {
      target: "upload.dropZone",
      action: [
        "click->upload#open",
        "dragover->upload#dragOver",
        "dragleave->upload#dragLeave",
        "dragenter->upload#dragEnter",
        "drop->upload#drop",
      ].join(" "),
    } %>

    <%= form_with(model: UnprocessedImage.new, data: { target: "upload.form", action: "ajax:success->upload#show" }) do |form| %>
      <%= form.hidden_field :image, data: { target: "upload.fileInput" } %>
    <% end %>

    <%= file_field_tag :files, multiple: true, hidden: true, data: { action: "change->upload#save", target: "upload.input" } %>

    <div id="unprocessed-images" class="card-columns" data-target="upload.uploads">
      <% current_user.unprocessed_images.each do |unprocessed_image| %>
        <%= render unprocessed_image %>
      <% end %>
    </div>
  </section>
</main>
